.spinner {
    width: 40px;
    height: 40px;
    background-color: white;
  
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6347;
    z-index: 999999;
    }
.spinner-wrapper h1{
    
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px blue;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
.example {
cursor: pointer;
height: 200px;
position: relative;
overflow: hidden;
width: 100%;
text-align:center;
}
.example .fadedbox {
background-color: #666666;
position: absolute;
top: 0;
left: 0;
color: white;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
transition: all 300ms ease-out;
opacity: 0;
width: 100%;
height: 200px;
/* padding: 130px 20px; */
}
.example:hover .fadedbox { opacity: 0.8; }
.example .text a{
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
transition: all 300ms ease-out;
transform: translateY( 0px);
-webkit-transform: translateY(0px);
}
.example .title1 a {
font-size: 1em;
text-transform: uppercase;
text-align:center;
color: white !important;
opacity: 0;
transition-delay: 0.2s;
transition-duration: 0.3s;
}
.example:hover .title1 a
.example:focus .title1 {
opacity: 1;
transform: translateY(0px);
-webkit-transform: translateY(0px);
}
.title1 text{
    margin-top: 30px;
}

#intro h1{
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #ffea00;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
100%{
    background-position: 2000px 0;
}
}


.tech .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
@media only screen and (max-width: 600px){

  html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.spinner-wrapper h1{
  font-size: 40px;
  left: 25%;

} 

#intro h1{
  font-size: 30px;
}

}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

  .ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .form-control::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7) !important; }
    .form-control::-moz-placeholder {
      color: rgba(0, 0, 0, 0.7) !important; }
    .form-control:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.7) !important; }
    .form-control:-moz-placeholder {
      color: rgba(0, 0, 0, 0.7) !important; }
    .form-control:focus, .form-control:active {
      border-color: rgba(0, 0, 0, 0.1); }
  
  textarea.form-control {
    height: inherit !important; }
  
  .wrapper {
    width: 100%;
    -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18); }
  
  .contact-wrap {
    background: #fff; }
  
  .info-wrap h3 {
    color: #fff; }
  
  .info-wrap .dbox {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px; }
    .info-wrap .dbox:last-child {
      margin-bottom: 0; }
    .info-wrap .dbox p {
      margin-bottom: 0; }
      .info-wrap .dbox p span {
        font-weight: 600;
        color: #fff; }
      .info-wrap .dbox p a {
        color: #fff; }
    .info-wrap .dbox .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1); }
      .info-wrap .dbox .icon span {
        font-size: 20px;
        color: #fff; }
    .info-wrap .dbox .text {
      width: calc(100% - 50px); }
  
  @media (min-width: 992px) {
    .info-wrap {
      margin-top: -20px;
      margin-bottom: -20px;
      border-radius: 5px; } }
  
  .btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .btn:hover, .btn:active, .btn:focus {
      outline: none !important;
      -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
      -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
      box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important; }
    .btn.btn-primary {
      background: #1089ff !important;
      border-color: #1089ff !important;
      color: #fff; }
      .btn.btn-primary:hover, .btn.btn-primary:focus {
        border-color: #006fdc !important;
        background: #006fdc !important; }
  
  #contactForm .error {
    color: red;
    font-size: 12px; }
  
  #contactForm .form-control {
    font-size: 16px; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: red; }
  
  #form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: bold; }
  


    
  
